@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap");

:root {
  --primary-color: #ce3b33;
  --secondary-color: #fffbef;

html {
  font-size: 62.5%;
  /* 1 rem= 10px */
}
* {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fffbef;
}

img {
  width: 15%;
  opacity: 80%;
  min-width: 15rem;
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-decoration: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 5%;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}
.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
  color: #C83931;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #e74138;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #C83931;
}

/* -------------- */
/* Hero Section  */
/* ------------- */

herosection{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center ;
}

.heroimage{ 
  width: 90%;
  max-width: 15rem;
  margin-top: 2rem;
}
